<div ng-controller="cadastroClienteCtrl">
  <form novalidate>
    <div class="form-group">
      <input class="form-control" placeholder="Nome" ng-model="cliente.nome" type="text"></input>
      <input class="form-control" placeholder="Telefone" ng-model="cliente.telefone" type="text"></input>
      <input class="form-control" placeholder="E-mail" ng-model="cliente.email" type="text"></input>
      <input class="form-control" placeholder="Rua" ng-model="cliente.endereco.rua" type="text"></input>
      <input class="form-control" placeholder="Numero" ng-model="cliente.endereco.numero" type="text"></input>
      <input class="form-control" placeholder="CEP" ng-model="cliente.endereco.cep" type="text"></input>
      <input class="form-control" placeholder="Bairro" ng-model="cliente.endereco.bairro" type="text"></input>
      <input class="form-control" placeholder="Cidade" ng-model="cliente.endereco.cidade" type="text"></input>
      <input class="form-control" placeholder="UF" ng-model="cliente.endereco.estado" type="text"></input>
      <input class="form-control" placeholder="Complemento" ng-model="cliente.endereco.complemento" type="text"></input>
    </div>
    <button type="button" ng-click="cadastrarCliente(cliente)">Cadastrar</button>
  </form>
</div>
