<div ng-controller="cadastroAcompanhamentoCtrl" class="clientePage">

  <h2> Cadastrar acompanhamento </h2>

  <form novalidate class="form-horizontal" role="form">

    <div class="form-group">
      <div class="col-sm-12">
        <input class="form-control" placeholder="Modelo" ng-model="acompanhamento.modelo" type="text"></input>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <input class="form-control" placeholder="Placa" ng-model="acompanhamento.placa" type="text"></input>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <input class="form-control" placeholder="Cliente" ng-model="acompanhamento.cliente" type="text"></input>
      </div>
    </div>

      <label ng-repeat="periodo in periodos">
        <ul>
          <input type="checkbox" data-checklist-model="acompanhamento.periodos" data-checklist-value="periodo">
            {{periodo}} meses
          </input>
        </ul>
      </label>
  </form>

  <div class="actions">
    <a>Cancelar</a>
    <button class="btn btn-primary" type="button" ng-click="cadastrarAcompanhamento(acompanhamento)">Cadastrar</button>
  </div>

  </form>
</div>
