<div ng-controller="clientesCtrl">
<h2> Lista de clientes </h2>

<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Quem você está procurando?" ng-model-options="{updateOn: 'default blur', debounce: {default: 200, blur: 0}}"/>
<div class="panel panel-default panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cliente in clientes | orderBy:'nome' | filter:criterioDeBusca"
      ng-mouseover="cliente.show = true" ng-mouseout="cliente.show = false">
        <td class="col-md-3">{{cliente.nome}}</td>
        <td class="col-md-3">{{cliente.telefone}}</td>
        <td class="col-md-3">{{cliente.email}}</td>
      </tr>
    </tbody>
    </table>

    <div class="actions">
      <a ng-click="voltar()">Voltar</a>
    </div>

  </div>
</div>
